In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sc
import os

**read the data**

In [3]:
path=r"C:\Users\akash\OneDrive\Desktop\data science\data files\Visadataset.csv"

In [4]:
visa_df=pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

**convert the numerical and categorical column**

In [6]:
cat_column=visa_df.select_dtypes(include='object').columns
num_column=visa_df.select_dtypes(exclude='object').columns

In [7]:
cat_column

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'region_of_employment', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [8]:
num_column

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [9]:
visa_df.loc[:,'prevailing_wage'] #loc uses the name of the column

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [10]:
visa_df.iloc[:,[8]] #iloc uses index number of the column

       prevailing_wage
0             592.2029
1           83425.6500
2          122996.8600
3           83434.0300
4          149907.3900
...                ...
25475       77092.5700
25476      279174.7900
25477      146298.8500
25478       86154.7700
25479       70876.9100

[25480 rows x 1 columns]

In [11]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [12]:
visa_df[['prevailing_wage']]

       prevailing_wage
0             592.2029
1           83425.6500
2          122996.8600
3           83434.0300
4          149907.3900
...                ...
25475       77092.5700
25476      279174.7900
25477      146298.8500
25478       86154.7700
25479       70876.9100

[25480 rows x 1 columns]

In [ ]:
- len 

- min 

- max 

- avg() 

- standard deviation std 

- meadian

- 25p 

- 50p 

- 75p

In [14]:
#length
len(visa_df[['prevailing_wage']])

25480

In [15]:
#min
min(visa_df['prevailing_wage'])

2.1367

In [16]:
#max
max(visa_df['prevailing_wage'])

319210.27

In [ ]:
**mean**

In [18]:
#mean
visa_df[['prevailing_wage']].mean()

prevailing_wage    74455.814592
dtype: float64

In [19]:
visa_df['prevailing_wage'].mean()

74455.81459209183

**median**

In [21]:
visa_df[['prevailing_wage']].median()

prevailing_wage    70308.21
dtype: float64

In [22]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [23]:
mean_wage=round(visa_df['prevailing_wage'].mean(),2)
median_wage=round(visa_df['prevailing_wage'].median(),2)
print('the average wage is :',mean_wage)
print('the median wage is :',median_wage)

the average wage is : 74455.81
the median wage is : 70308.21

In [ ]:
- mode is not a suuitable for numerical analysis

- different observation  can have same values

In [ ]:
**using numpy**

In [26]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

In [27]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

In [ ]:
**standard deviation std**

In [29]:
visa_df['prevailing_wage'].std()

52815.94232687357

In [30]:
std_wage=round(visa_df['prevailing_wage'].std(),2)
std_wage

52815.94

In [31]:
mean_wage=round(visa_df['prevailing_wage'].mean(),2)
median_wage=round(visa_df['prevailing_wage'].median(),2)
std_wage=round(visa_df['prevailing_wage'].std(),2)
print('the average wage is :',mean_wage)
print('the median wage is :',median_wage)
print('the standard deviation  wage is :',std_wage)

the average wage is : 74455.81
the median wage is : 70308.21
the standard deviation  wage is : 52815.94

In [32]:
#step-1: create an empty list append the values
#step-2: create an index list
#step-3: create a col list

In [48]:
list=[]
list.append(mean_wage)
list.append(median_wage)
list.append(std_wage)

ind=['mean','median','std']
col=['prevailing_wage']
num_df1=pd.DataFrame(list,columns=col,index=ind)
num_df1

        prevailing_wage
mean           74455.81
median         70308.21
std            52815.94

In [34]:
value=[mean_wage,median_wage,std_wage]
value.append(len(visa_df[['prevailing_wage']]))
value.append(min(visa_df['prevailing_wage']))
value.append(max(visa_df['prevailing_wage']))
ind=['mean','median','std','length','min','max']
col=['prevailing_wage']
num_df=pd.DataFrame(value,columns=col,index=ind)
num_df

        prevailing_wage
mean         74455.8100
median       70308.2100
std          52815.9400
length       25480.0000
min              2.1367
max         319210.2700

**25p-50p-75p**

In [ ]:
**percentile**

- in numpy we have percentile

- the method is np.percentile()

    -  it takes the 2 arguments 

    - a: array means data

    - q: value which percentile data we want , that value we need to provide

    - if we want 25p value then q=25

**quantile**

- in numpy we have quantile 

- the methof is np.quantile()

    - it takes the 2 arguments 

    - a: array means data

    - q: value which quantile data between 0 to 1 we want , that value we need to provide

    - if we want 25p value then q=0.25
 
    - if we want 50p value then q=0.50

In [38]:
np.percentile(visa_df['prevailing_wage'],30)
#0 to 100

42032.848999999995

In [40]:
np.quantile(visa_df['prevailing_wage'],0.30)
#0 to 1

42032.848999999995

In [44]:
wage_25p=round(np.percentile(visa_df['prevailing_wage'],25),2)
wage_50p=round(np.percentile(visa_df['prevailing_wage'],50),2)
wage_75p=round(np.percentile(visa_df['prevailing_wage'],75),2)
print('25p value is:',wage_25p)
print('50p value is:',wage_50p)
print('75p value is:',wage_75p)

25p value is: 34015.48
50p value is: 70308.21
75p value is: 107735.51

In [ ]:
value=[mean_wage,median_wage,std_wage,]
value.append(len(visa_df[['prevailing_wage']]))
value.append(min(visa_df['prevailing_wage']))
value.append(max(visa_df['prevailing_wage']))
ind=['mean','median','std','length','min','max']
col=['prevailing_wage']
num_df=pd.DataFrame(value,columns=col,index=ind)
num_df

In [42]:
num_df.update()

TypeError: DataFrame.update() missing 1 required positional argument: 'other'

In [ ]:
#describe
visa_df.describe()